@import '../../mainStyles/standard-styles.scss';

.about-container{
 
    width:100vw;
    height: 100vh;
    background-color:lightcoral;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text{
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: .5em;
        font-size:16px;
        font-weight: 700;
        margin-bottom:20px;
    }

    button{
        width: 200px;
        height: 50px;
        background: none;
        border:2px solid black;
        margin-top:30px;
        font-family: 'Oswald', sans-serif;
        font-size:.75em;
        letter-spacing: .5em;
        font-weight:500;
        text-transform: uppercase;
        opacity: 0;

        &:hover{
            background-color:black;
            color:lightcoral;
            cursor: pointer;
            transition:.2s;
        }
    }
}
.circle-container{
    visibility: hidden;

    .red{
        background-color:#FD5151
    }
    .blue{
        background-color: #51a0FD
    }
}
.circle{
    width:75px;
    height: 75px;
    border-radius: 100%;
    background-color: #FDCF51;
    margin:50px;

}