.App-link {
  color: #09d3ac;
}

.page {
  position: absolute;
}

.enter {
  opacity: 1;
  transform: translateX(100%);
  transition:1s ease;
}

.enter-active {
  animation-name: slideRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}

.exit {
  opacity: 1;
  transform: translateX(0%);
  transition:1s ease;
}

.exit-active {
  animation-name: slideLeft;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes slideLeft{
  0%{
    opacity: 1;
    transform: translateX(0%);
  }
  100%{
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes slideRight{
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}